#map { height: 550px}
/* 
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
} */

.gradient-background {
    background: linear-gradient(to top, #3498db, #ffffff);
    height: 100%;
}

.shadowed-box {
    /* width: 50px;
    height: 50px;
    background-color: #fff;
    border: 1px solid #ddd; */
    /* Add a shadow */
    box-shadow: 5px 5px 7px 0 rgba(0, 0, 0, 0.2);
}

.info-box {
    background: linear-gradient(to top, #8dd1ff, #ffffff); /* Gradient background */
    border-radius: 10px; /* Rounded corners */
    padding: 15px; /* Spacing inside the rectangle */
    width: 900px; /* Width of the rectangle */
    margin: 0 auto; /* Center the rectangle horizontally */
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2); /* Optional shadow */
}

.info-box-map {
    background: linear-gradient(to top, #8dd1ff, #ffffff); /* Gradient background */
    border-radius: 10px; /* Rounded corners */
    padding: 0px; /* Spacing inside the rectangle */
    width: 1300px; /* Width of the rectangle */
    margin: 0 auto; /* Center the rectangle horizontally */
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2); /* Optional shadow */
}

/* ---- reset ---- */ 
/* body{ margin:0; font:normal 75% Arial, Helvetica, sans-serif; } 
canvas{ display: block; vertical-align: top; }  */
/* ---- particles.js container ---- */ 
/* #particles-js{ position:absolute; width: 100%; height: 100%; background-color: #0912c0; background-image: url(""); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }  */
/* ---- stats.js ---- */ 
/* .count-particles{ background: #000022; position: absolute; top: 48px; left: 0; width: 80px; 
    color: #13E8E9; font-size: .8em; text-align: left; text-indent: 4px; line-height: 14px; padding-bottom: 2px; font-family: Helvetica, Arial, sans-serif; font-weight: bold; } 
    .js-count-particles{ font-size: 1.1em; } #stats, .count-particles{ -webkit-user-select: none; margin-top: 5px; margin-left: 5px; } 
    #stats{ border-radius: 3px 3px 0 0; overflow: hidden; } .count-particles{ border-radius: 0 0 3px 3px; } */